<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Lawn Cutting Service</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <center>
    
    <h1 style="background-color:DodgerBlue"> Best Lawn Mowing Services</h1>
    <b>MowBuddy</b>
      <br>    <br>
      <img src="static/Static Images/Lawn Mower 2.jpg" width="500"> 
     <br>    <br>
    <b>Trusted Lawn Care—Luxury and Ease, Right at Home.We realized that a well-kept lawn not only adds beauty to a home but also brings a sense of pride and peace. That’s why we decided to share our passion for lawn care with our community, bringing the same attention to detail and care to every yard we service. At MowBuddy, we’re not just about cutting grass; we’re about creating beautiful, stress-free outdoor spaces that you can enjoy, just like Buddy does.

</b>

    <!-- This is my first time building with HTML, I feel like my code is a little messy. -->
    <br>    <br>
    <br>
    <a href="index.html"><button>Home</button></a>
      <a href="Gallery.html"><button>Gallery</button></a>
      <a href="Services.html"><button>Services</button></a>
      <a href="Contact.html"><button>Contact</button></a>

    </center>
  <script src="script.js"></script>
</body>

</html>
