<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Lawn Cutting Service</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <center>

    <h1 style="background-color:DodgerBlue"> Best Lawn Mowing Services</h1>
      <br>    <br>
     <h2>Contact US</h2>
    <br>    <br>
      <img src="static/Static Images/Untitled design (4).png" width="500"> 
     <br>    <br>
    <b>email@example.com
      <br>    <br>
    (555) 555-5555</b>

    <!-- This is my first time building with HTML, I feel like my code is a little messy. -->
    <br>    <br>
    <br>
    <a href="index.html"><button>Home</button></a>
     <a href="About.html"><button>About</button></a>
      <a href="Gallery.html"><button>Gallery</button></a>
      <a href="Services.html"><button>Services</button></a>








    </center>
  <script src="script.js"></script>
</body>

</html>




