<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Lawn Cutting Service</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <center>

    <h1 style="background-color:DodgerBlue"> Best Lawn Mowing Services</h1>
    <b>MowBuddy</b>
      <br>    <br>

    <b>We handle every detail so you can enjoy a lush, stress-free lawn, season after season.</b>

    <br>    <br>
    <br>
    <a href="index.html"><button>Home</button></a>
     <a href="About.html"><button>About</button></a>
      <a href="Services.html"><button>Services</button></a>
      <a href="Contact.html"><button>Contact</button></a>
    <center>
    <img src="static/Static Images/Untitled design (4).png" width="500">
    <img src="static/Static Images/Untitled design (3).png" width="500">
    <img src="static/Static Images/Untitled design (2).png" width="500"> 
      <center>



    </center>
  <script src="script.js"></script>
</body>

</html>