<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Lawn Cutting Service</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <center>
    
    <h1 style="background-color:DodgerBlue"> Best Lawn Mowing Services</h1>
    <b>MowBuddy</b>
      <br>    <br>
      <img src="Static Images/Lawn Mower 1.png" width="500"> 
     <br>    <br>
    <b>We handle every detail so you can enjoy a lush, stress-free lawn, season after season.</b>
     <br>    <br>
    <a href="Documents/MowBuddy Invoice.docx">Invoice</a>
    <a href="Documents/RY401018VNM_108674001_762_trilingual_01.pdf">Our Equipment</a>
     <br>    <br>
    <!-- This is my first time building with HTML, I feel like my code is a little messy and a lot of copy and paste -->
    <br>    <br>
    <br>
    <a href="index.html"><button>Home</button></a>
     <a href="About.html"><button>About</button></a>
      <a href="Gallery.html"><button>Gallery</button></a>
      <a href="Services.html"><button>Services</button></a>
      <a href="Contact.html"><button>Contact</button></a>







    
    </center>
  <script src="script.js"></script>
</body>

</html>




