<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Lawn Cutting Service</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <center>

    <h1 style="background-color:DodgerBlue"> Best Lawn Mowing Services</h1>
    <b>MowBuddy</b>
      <br>    <br>
      <img src="static/Static Images/Untitled design (5).png" width="500"> 
     <br>    <br>
    <b>We handle every detail so you can enjoy a lush, stress-free lawn, season after season.</b>

    <!-- This is my first time building with HTML, I feel like my code is a little messy. -->
    <br>    <br>
    <br>
    <a href="index.html"><button>Home</button></a>
     <a href="About.html"><button>About</button></a>
      <a href="Gallery.html"><button>Gallery</button></a>
      <a href="Contact.html"><button>Contact</button></a>

<table>
  <tr>
    <th>Lawn Type</th>
    <th>Cost</th>

  </tr>
  <tr>
    <td>Small Lawn (up to 1,000 sq ft)</td>
    <td>$30</td>

  </tr>
  <tr>
    <td>Medium Lawn (1,000-3000 sq ft)</td>
    <td>$50</td>

  </tr>
  <tr>
    <td>Large Lawn (3,500+ sq ft)</td>
    <td><a href="Contact.html">Contact</a></td>
    

  </tr>

</table>
  </center>
<script src="script.js"></script>
</body>

</html>