<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Weather</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <center>

    <h1 style="background-color:DodgerBlue"> Weather in Sudbury</h1>
      <br>    <br>
      <img src="static/Static Images/Lawn Mower 2.jpg" width="500"> 
    
<br>
    {{temp_c}}
</b>

    <!-- This is my first time building with HTML, I feel like my code is a little messy. -->
    <br>    <br>
    <br>
    <a href="index.html"><button>Home</button></a>
      <a href="Gallery.html"><button>Gallery</button></a>
      <a href="Services.html"><button>Services</button></a>
      <a href="Contact.html"><button>Contact</button></a>

    </center>
  <script src="script.js"></script>
</body>

</html>
